<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<connectionStrings>
  <add name="FillThePoolDev" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-FillThePool-20140124204614;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-FillThePool-20140124204614.mdf" providerName="System.Data.SqlClient" />
	<add name="FillThePoolProd" connectionString="Data Source=fillthepool.database.windows.net;Initial Catalog=FillThePool2;User ID=pyuwAB47JDoLhPoP;Password=MqP8XnDbMsyJB6vLNtZ;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
<appSettings>
  <add key="ConnectionStringName" value="FillThePoolProd" />
</appSettings>
</configuration>