@model IEnumerable<FillThePool.Models.Student>

@{
    ViewBag.Title = "Create";
}

@foreach (FillThePool.Models.Student s in Model)
{
    <li>
        <div>@s.Name</div>
    </li>
}

<div class="form-group">
    <label for="studentName">Student Name</label>
    <input type="text" class="form-control" id="studentName" placeholder="Student Name">
</div>
<div class="form-group">
    <label for="birthDate">Birth Date</label>
    <input type="text" class="form-control" id="birthDate" placeholder="Birth Date">
</div>
<div class="form-group">
    <label for="ability">Ability</label>
    <input type="text" class="form-control" id="ability" placeholder="Ability">
</div>
<div class="form-group">
    <label for="notes">Notes</label>
    <input type="text" class="form-control" id="notes" placeholder="Notes">
</div>

<button type="submit" class="btn btn-default" onclick="AddStudent()">Add</button>
