<div class="panel panel-default">

    <div class="panel-heading">
        Current Lesson Balance <span class="badge" id="LessonBalance">0</span>
    </div>
    <div class="panel-body" id="Purchase">
        <div class="radio">
            <label>
                <input type="radio" name="lessonRadio" id="optionsRadios1" value="20" checked class="radios">
                Add 1 Lessons ($20)
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="lessonRadio" id="optionsRadios2" value="100" class="radios">
                Add 5 Lessons ($100)
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="lessonRadio" id="optionsRadios3" value="200" class="radios">
                Add 10 Lessons ($200)
            </label>
        </div>

        <div><h4>Total:<span class="label label-success" id="total"></span></h4></div>

        <input style="display:none" name="Amount" id="Amount" />
        <button type="submit" id="buy" class="btn btn-default">Buy Lessons</button>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        GetLessonBalance();

        $(".radios").change(function () {
            $("#total").text("$" + $('input[name=lessonRadio]:checked').val() + ".00");
            $("#Amount").val($('input[name=lessonRadio]:checked').val());
        });
        $("#total").text("$" + $('input[name=lessonRadio]:checked').val() + ".00");
        $("#Amount").val($('input[name=lessonRadio]:checked').val());

        $("#buy").click(function () {
        	debugger;
            $.ajax({
                url: "/api/Transaction/CreatePayPalTransaction/",
                type: "POST",
                data: JSON.stringify({ Description: "Buying " + ($('#Amount').val() / 20) + " Lessons", Amount: $('#Amount').val() }),
                contentType: "application/json",
                success: function (data) {
                    window.location = data;
                }
            });
        });
    });


    function GetLessonBalance() {
        $.get("/api/Transaction/Balance/", function (data) {
            $("#LessonBalance").html(data);
        });
    }



</script>
