@{
    ViewBag.Title = "Contact Us";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<section class="contact">
	<h3>Sarah Bleazard, Instructor Coordinator</h3>
	<div>
		<strong>Phone:</strong> 435-659-6307
	</div>
</section>

<section class="contact">
	<h3>Cassandra Arnell, Pool Owner</h3>
	<div>
		<strong>Phone:</strong> 435-830-4888
	</div>
	<div>
		<strong>Email:</strong> info@stansburyswim.com
	</div>
</section>
