@page
@model FillThePool.Core.Pages.AboutModel
@{
	ViewData["Title"] = "About";
}
<div class="container">
	<div class="row">
		<div class="col">
			<h1 class="display-4 text-center">About</h1>
		</div>
	</div>
</div>
<div class="container">
	<div style="color: rgb(80, 0, 80); font-family: arial, sans-serif; font-size: 12.8px; line-height: normal;">
		Swimming is a fundamental and joyful activity. It provides basic building blocks for all other sports and physical activities such as flexibility, balance, strength, coordination and endurance.
	</div>

	<div style="color: rgb(80, 0, 80); font-family: arial, sans-serif; font-size: 12.8px; line-height: normal;">
		<br>
		Our consortium of instructors offer private, affordable lessons for students from three to ten years of age. We specialize in teaching beginners and those afraid of the water.  The water is kept a comfortable 90 degrees.  Come visit.  If it seems to be a good fit for your family, give it a try!
	</div>

	<p>&nbsp;</p>

	<p style="text-align:center"><img alt="Infographic design by Abolina Art" src="/uploads/10reasons-why-swim_aa2015.jpg"></p>

	<p>According to the CDC, there is no evidence that the virus that causes COVID-19 can be spread to people through the water in pools, hot tubs, spas, or water play areas. Proper operation and maintenance (including disinfection with chlorine and bromine) of these facilities should inactivate the virus in the water. https://www.cdc.gov/coronavirus/2019-ncov/php/water.html  If you are unwell, do not come to the facility.  If you develop symptoms, please notify us immediately so we can follow CDC guidelines for cleaning and disinfecting.  </p>
	<p><span style="color:rgb(80, 0, 80); font-family:arial,sans-serif; font-size:12.8px">Policies and Tips:</span></p>

	<div style="color: rgb(80, 0, 80); font-family: arial, sans-serif; font-size: 12.8px; line-height: normal;">
		<ul>
			<li>All lessons are private, with one-on-one instruction customized to the student's goals and skill level.</li>
			<li>Lessons start and end promptly.  We advise arriving at least 5 minutes early to be ready for the lesson.</li>
			<li>Parental Release and Consent Form is due on the first day of lessons.  (Forms are available in a folder next to each pool.)</li>
			<li>Payment is due prior to lesson reservation.</li>
			<li>All lesson credits MUST be used in the season purchased.  All unused lesson credits will be forfeited with no refund.  Seasons typically end July 31.</li>
			<li>Text "@stansswim" to 81010 or visit remind.com/join/stansswim to receive text updates (including new schedule offerings and cancellations due to weather).</li>
			<li>24-hour cancellation notice is required.  There is no charge to reschedule any lesson, if done more that 24 hours ahead of time.  Within 24 hours of lesson time, there will be a full charge on all lessons.  You are welcome to send a replacement student if the scheduled student is unavailable.  </li>
			<li>Instructors are subject to change without notice.</li>
			<li>We strongly prefer reusable swim diapers over disposable and sunscreen lotion over aerosol.</li>
			<li>Pool addresses:  101 Lakeview and 5446 Lanyard Lane.  When you schedule, be sure to note the location as well as date/time/instructor.</li>
			<li>Recommended: Ages 3-5 20-40 Lessons, Ages 5+10-20 Lessons + Maintenance Program 1-3 times/week. </li>
			<li>Give your child lots of love and encouragement between lessons.  Recognize his/her bravery and achievements.  Take pictures and video during the lesson.  Children love to watch themselves and gain confidence as they do so.</li>
		</ul>
	</div>
	<div>
		See you soon!
	</div>
	<div>
		The Stansbury Swim Team
	</div>
</div>
