@page
@model FillThePool.Core.Pages.AboutModel
@{
	ViewData["Title"] = "About";
}
<div class="container">
	<div class="row">
		<div class="col">
			<h1 class="display-4 text-center">About</h1>
		</div>
	</div>
</div>
<div class="container">
	<div style="color: rgb(80, 0, 80); font-family: arial, sans-serif; font-size: 12.8px; line-height: normal;">Swimming is a fundamental and joyful activity. &nbsp;It provides basic building blocks for all other s<span style="font-size:12.8px">ports and physical activities such as flexibility, balance, strength, coordination and endurance.</span></div>

	<div style="color: rgb(80, 0, 80); font-family: arial, sans-serif; font-size: 12.8px; line-height: normal;">
		<br>
		Our consortium of instructors offer private, affordable lessons for students from three to eight years of age. &nbsp;We specialize in teaching beginners, young children and those afraid of the water.
	</div>

	<p>&nbsp;</p>

	<p style="text-align:center"><img alt="Infographic design by Abolina Art" src="http://gosfordstingrays.com.au/wp-content/uploads/2015/03/10reasons-why-swim_aa2015.jpg"></p>

	<p><span style="color:rgb(80, 0, 80); font-family:arial,sans-serif; font-size:12.8px">Policies and Tips:</span></p>

	<div style="color: rgb(80, 0, 80); font-family: arial, sans-serif; font-size: 12.8px; line-height: normal;">
		<ul>
			<li>All lessons are private, one-on-one instruction customized to the student's needs and skill level.</li>
			<li>Arrive at least 5 minutes early to get ready for the lesson.&nbsp;&nbsp;</li>
			<li>A parent or responsible adult is required to be present for all lessons.</li>
			<li>Parental Release and Consent Form is due on the first day of lessons.&nbsp; (Forms are available in folder next to pool.)</li>
			<li>Cash, check or online Paypal payment is due prior to lesson reservation.</li>
			<li>All lessons MUST be used in the season purchased.&nbsp; All lesson credits not used during the current season will be forfeited with no refund.&nbsp; The season ends July 31, with possible spillover into August depending on demand and instructor availability.</li>
			<li>24-hour cancellation notice is required.&nbsp; There is no charge to reschedule any lesson, if done more that 24 hours ahead of time.&nbsp; Within 24 hours of lesson time, there will be a full charge on all lessons.&nbsp; You are welcome to send a replacement student if the scheduled student is unavailable.&nbsp;&nbsp;</li>
			<li>Text "Follow SwimStansbury" to 40404 to receive text updates. (e.g. weather cancellations)</li>
			<li>Instructors may vary from website schedule.</li>
			<li>We strongly prefer reusable swim diapers over disposable swim diapers and sunscreen lotion over aerosol.</li>
			<li>No glass containers allowed on site.</li>
			<li>Give your child lots of love and encouragement between lessons. Recognize his/her bravery and accomplishments. &nbsp;Take pictures and video during the lesson.&nbsp; Children love to watch themselves and gain confidence as they do so.&nbsp; Happy Swimming!</li>
		</ul>

		<p>&nbsp;</p>

		<p>&nbsp;</p>
	</div>

</div>
