@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
	ViewBag.FullPage = true;
}

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
	<div class="headline col-md-5 p-lg-5 mx-auto my-5">
		<h1 class="display-4">
			<img src="~/img/logo.png" style="min-width:200px"/>
		</h1>
		<p class="lead font-weight-normal">Private One-On-One Instruction&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Flexible Scheduling&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Warm 90 Degree Pool</p>
		<a class="btn btn-outline-primary" asp-page="./Pricing">Pricing</a>
	</div>
	<div class="swim-image shadow-sm d-none d-md-block">
		<img src="~/img/img1.jpg" />
	</div>
	<div class="swim-image swim-image-2 shadow-sm d-none d-md-block">
		<img src="~/img/img2.jpg" />
	</div>
</div>


<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
	<div class="bg-primary text-white mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
		<div class="my-3 p-3">
			<h2 class="display-5">Just watch 25-month old Brilya go!</h2>
			<p class="lead">We specialize in beginners ages 3-10.</p>
		</div>
	</div>
	<div class="bg-light mr-md-3 text-center text-white overflow-hidden">
		<div class="embed-responsive embed-responsive-16by9">
			<iframe src="https://www.youtube.com/embed/P4UDQ3vm10k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
	</div>
</div>

<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
	<h1 class="display-4">How it works</h1>
	<p class="lead">Our online system makes it easy to purchase and spend your swim lesson credits.</p>
</div>
<div class="container marketing">
	<div class="row text-center">
		<div class="col-lg-3 text-center">
			<h2>Register</h2>
			<p>Register for free using your Email address or Google account.  During registration you'll add your students to your account.</p>
			<p><a class="btn btn-outline-primary" asp-page="/Account/Login" asp-area="Identity" role="button">Get started</a></p>
		</div>
		<div class="col-lg-3">
			<h2>Purchase</h2>
			<p>Purchase lesson credits to use at your convenience.  We use Paypal for fast and secure payments.</p>
			<p><a class="btn btn-outline-primary" asp-page="./Pricing"role="button">Pricing</a></p>
		</div>
		<div class="col-lg-3">
			<h2>Schedule</h2>
			<p>Schedule and manage your lessons based on your unique preferences for date, time, pool and instructor.</p>
			<p><a class="btn btn-outline-primary" asp-page="/Schedule" asp-area="" role="button">View schedule »</a></p>
		</div>
		<div class="col-lg-3">
			<h2>Visit</h2>
			<p>Arrive promptly for your lessons and enjoy the experience.</p>
			<p><a class="btn btn-outline-primary" asp-page="/Pools" role="button">View Address »</a></p>
		</div>
	</div>

	<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" id="pricing">
		<h1 class="display-4">Pricing</h1>
	</div>
</div>
<div class="container">
	<div class="card-deck mb-3 text-center">
		<div class="card mb-4 shadow-sm">
			<div class="card-header">
				<h4 class="my-0 font-weight-normal">Single Lesson</h4>
			</div>
			<div class="card-body">
				<h1 class="card-title pricing-card-title">$18 <small class="text-muted">/ lesson</small></h1>
				<ul class="list-unstyled mt-3 mb-4">
					<li>Personal Instructor</li>
					<li>Warm waters</li>
					<li>Online scheduling</li>
				</ul>
				<a asp-page="./Pricing" class="alert alert-primary" role="alert">
					Test the waters
				</a>
			</div>
		</div>
		<div class="card mb-4 shadow-sm">
			<div class="card-header">
				<h4 class="my-0 font-weight-normal">10 Lessons</h4>
			</div>
			<div class="card-body">
				<h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ lesson</small></h1>
				<ul class="list-unstyled mt-3 mb-4">
					<li>Personal Instructor</li>
					<li>Warm waters</li>
					<li>Online scheduling</li>
				</ul>
				<a asp-page="./Pricing" class="alert alert-primary" role="alert">
					Most popular
				</a>
			</div>
		</div>
		<div class="card mb-4 shadow-sm">
			<div class="card-header">
				<h4 class="my-0 font-weight-normal">30 Lessons</h4>
			</div>
			<div class="card-body">
				<h1 class="card-title pricing-card-title">$13 <small class="text-muted">/ lesson</small></h1>
				<ul class="list-unstyled mt-3 mb-4">
					<li>Personal Instructor</li>
					<li>Warm waters</li>
					<li>Online scheduling</li>
				</ul>
				<a asp-page="./Pricing" class="alert alert-primary" role="alert">
					Best Value
				</a>
			</div>
		</div>
	</div>
</div>
