@page
@model FillThePool.Core.Pages.ScheduleModel
@{
	ViewData["Title"] = "Schedule";
}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<div class="container">
	<div class="row">
		<div class="col">
			<h1 class="display-4 text-center">Schedule</h1>
			<br />
		</div>
	</div>
	<div id="root"></div>
</div>
<script>
	const rootElement = document.getElementById('root');
	ReactDOM.render(React.createElement(window.Schedule), document.getElementById('root'));
</script>
