@if (Request.IsAuthenticated) {
	<text>
		<div class="pull-right" style="margin:10px">
	Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
	@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
	{
		@Html.AntiForgeryToken()
		<a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
	}
			</div>
</text>
}
else
{
	<div>
		<div class="pull-right" style="margin:10px">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</div>
		<div class="pull-right" style="margin:10px;"><a href="#" id="loginLink">Log in</a></div>
	</div>
}
