@model ICollection<FillThePool.Models.ExternalLogin>

@if (Model.Count > 0)
{
	<div class="panel panel-default hidden-xs">
		<div class="panel-body">
			<h4>Registered external logins</h4>
			@foreach (FillThePool.Models.ExternalLogin externalLogin in Model)
			{
				<div class="row">
					<div class="col-md-6"><h4>@externalLogin.ProviderDisplayName</h4></div>
					<div class="col-md-6">
						@if (ViewBag.ShowRemoveButton)
						{
							using (Html.BeginForm("Disassociate", "Account"))
							{
								@Html.AntiForgeryToken()
								<div>
									@Html.Hidden("provider", externalLogin.Provider)
									@Html.Hidden("providerUserId", externalLogin.ProviderUserId)
									<button class="btn btn-success" type="submit" value="Remove">Remove</button>
								</div>
							}
						}
						else
						{
							@: &nbsp;
								}


					</div>
				</div>
			}
		</div>
	</div>
}
