@using Microsoft.Ajax.Utilities
@model IEnumerable<FillThePool.Models.Schedule>


<div class="form-horizontal">
	<h4>Upcoming Lessons</h4>
	<hr />
	@if (Model.Any())
	{
		<table class="table">
			<thead>
				<tr>
					<td>Start</td>
					<td>End</td>
					<td>Student</td>
				</tr>
			</thead>
			<tbody>
				@foreach (var schedule in Model)
				{
					<tr>
						<td>
							@schedule.Start
						</td>
						<td>
							@schedule.End
						</td>
						<td>
							@schedule.Registration.Student.Name
						</td>
					</tr>
				}
			</tbody>
		</table>

	}
	else
	{
		<span>No upcoming lessons.</span>
	}

</div>