@{
	ViewBag.Title = "Purchase Credits";
}

<div class="row">
	<div class="col-md-11 col-md-offset-1 col-sm-offset-1">
		<h2>Purchase Credits</h2>
	</div>
</div>
<div class="row">
    <div class="col-md-5 col-sm-5 col-md-offset-1 col-sm-offset-1">
		        <div class="panel panel-default">
            <div class="panel-heading">
                Available Credits <span class="badge" id="LessonBalance">0</span>
            </div>
			        <div class="panel-body" id="Purchase">

				        <div class="col-md-12">
					        <div class="radio">
						        <label>
							        <input type="radio" name="lessonRadio" id="optionsRadios1" value="15" checked class="radios">
							        Add 1 Lesson $15
						        </label>
					        </div>
					        <div class="radio">
						        <label>
							        <input type="radio" name="lessonRadio" id="optionsRadios2" value="130" class="radios">
							        Add <span style="display: inline" class="lessonCount" id="lessonCount12">10</span>  Lessons $130
						        </label>
					        </div>
					        <div class="radio">
						        <label>
							        <input type="radio" name="lessonRadio" id="optionsRadios3" value="300" class="radios">
							        Add <span style="display: inline" class="lessonCount" id="lessonCount30">30</span> Lessons  $300
						        </label>
					        </div>
					
					        <div>
						        <label for="promoCodeInput">Promo Code</label>
						        <input type="text" id="promoCodeInput" class="form-control"/>
					        </div>

					        <div><h4>Total:<span class="label label-success" id="total"></span></h4></div>
					
					        @using (Html.BeginForm("Index", "Transaction"))
					        {
						        @Html.AntiForgeryToken()
						        @Html.ValidationSummary(true)

						        <input style="display:none" name="Amount" id="Amount" />
						        <input style="display:none" name="PromoCode" id="PromoCode" type="text"/>
						        <button type="submit" id="buy" class="btn btn-default">Purchase Credits</button>

					        }
					
					        <p style="padding: 10px;">
						        Lesson credits may be split among several students.
					        </p>
				        </div>
			        </div>
        </div>
    </div>
	<div class="col-md-5 col-sm-5">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Transactions</h3>
			</div>
			<div class="panel-body" id="transactions">
				No transactions found
			</div>
		</div>
	</div>
</div>

<script>
    var showAll = false;

    $(document).ready(function () {
        GetLessonBalance();
        GetTransactionHistory();

        $(".radios").change(function () {
            $("#total").text("$" + $('input[name=lessonRadio]:checked').val() + ".00");
            $("#Amount").val($('input[name=lessonRadio]:checked').val());
        });

        $("#promoCodeInput").on("change keyup", function () {
            if ($(this).val() == "splash") {
                $(".lessonCount").css("text-decoration", "line-through");
                $(".lessonCount").css("color", "red");

                $("#lessonCount11").after("<span style='padding: 0 5px;' class='bg-success'>11</span>");
                $("#lessonCount23").after("<span style='padding: 0 5px;' class='bg-success'>23</span>");

                $("#lessonBonus11").after("<span style='padding: 0 5px;' class='bg-success'></span>");
                $("#lessonBonus23").after("<span style='padding: 0 5px;' class='bg-success'></span>");
                $(this).attr("disabled", "true");
            }
            $("#PromoCode").val($(this).val());
        });


        $("#total").text("$" + $('input[name=lessonRadio]:checked').val() + ".00");
        $("#Amount").val($('input[name=lessonRadio]:checked').val());
    });

    function GetLessonBalance() {
        $.get("/api/TransactionAPI/Balance/", function (data) {
            $("#LessonBalance").html(data);
        });
    }

    function GetTransactionHistory() {
        $.get("/Transaction/History/", function (data) {
            $("#transactions").html(data);

            if (!showAll) {
                $(".bottom").hide();
            }

            $("#showHide").click(function () {
                showAll = !showAll;
                if (showAll) {
                    $("#showHide").html("Hide");
                    $(".bottom").show();
                }
                else {
                    $("#showHide").html("Show all");
                    $(".bottom").hide();
                }

            });
        });
    }
</script>
