@font-face {
	font-weight: bold;
	font-style: normal;
	font-family: 'Xolonium';
	src: url('/fonts/XoloniumBold.otf') format('opentype');
}

@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'Xolonium';
	src: url('/fonts/XoloniumRegular.otf') format('opentype');
}
html {
	background:#428bca;
	height: 100%;
}

body {
	max-width: 1200px;
	margin: auto;
	height: 100%;
	background: #ffffff;
}
#body {
	background: #ffffff;
}

.content-wrapper {
	max-width: 1200px;
}

.login-bar {
	height: 42px;
	background-color: #f5f5f5;
	color: #777777;
}

	.login-bar form {
		display: inline-block;
	}

.row {
	margin-right: 0 !important;
	margin-left: 0 !important;
}

.badge {
	background-color: #5cb85c !important;
}
.panel-heading {
	height: 47px;
    font-size: 12px;
}

.panel-default .panel-heading {
	background-color: #428bca;
	background-image: none !important;
	color: #fff;
}

.panel-title, .panel-heading {
	color: #fff !important;
}

	.panel-title input, .panel-heading input {
		color: #000 !important;
	}

.navbar {
	margin-bottom: 0 !important;
	min-height: 20px !important;
	font-size: 14px;
}

.nav-tabs {
	float: none;
	margin: 0 auto;
	width: 665px;
	border: none !important;
}

	.nav-tabs li a {
		border-radius: 0 !important;
	}

		.nav-tabs li a:hover {
			background-color: #428bca;
			color: #fff;
		}

.jumbotron {
	background-color: #fff !important;
}

	.jumbotron a:hover {
		text-decoration: none;
	}

#theCarousel {
	background-color: #2EB9EA;
	color: white;
	text-shadow: -1px -1px 0 #428bca, 1px -1px 0 #428bca, -1px 1px 0 #428bca, 1px 1px 0 #428bca;
	font-size: large;
	font-family: Arial;
}

.carousel-indicators {
	bottom: 5px !important;
}

.carousel-inner {
	margin: auto;
	width: 70% !important;
}

	.carousel-inner .item .thumbnail {
		max-width: 500px;
		width: 100%;
	}

.carousel-control.right {
	background: -moz-linear-gradient(left, rgb(46,185,234),rgb(255,255,255)) !important;
	background: -ms-linear-gradient(left, rgb(46,185,234),rgb(255,255,255)) !important;
	background: -o-linear-gradient(left, rgb(46,185,234),rgb(255,255,255)) !important;
	background: -webkit-linear-gradient(left, rgb(46,185,234),rgb(255,255,255)) !important;
	background: linear-gradient(to right, rgb(46,185,234),rgb(255,255,255)) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2eb9ea', endColorstr='#00ffffff',GradientType=1 );
	/* Chrome10+,Safari5.1+ */
	/* FF3.6+ */
	/* IE10+ */
	/* IE6-9 */
	/* Opera 11.10+ */
	/* W3C */
}

.carousel-control.left {
	background: -moz-linear-gradient(right, rgb(46,185,234),rgb(255,255,255)) !important;
	background: -ms-linear-gradient(right, rgb(46,185,234),rgb(255,255,255)) !important;
	background: -o-linear-gradient(right, rgb(46,185,234),rgb(255,255,255)) !important;
	background: -webkit-linear-gradient(right, rgb(46,185,234),rgb(255,255,255)) !important;
	background: linear-gradient(to left, rgb(46,185,234),rgb(255,255,255)) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2eb9ea', endColorstr='#00ffffff',GradientType=1 );
	/* Chrome10+,Safari5.1+ */
	/* FF3.6+ */
	/* IE10+ */
	/* IE6-9 */
	/* Opera 11.10+ */
	/* W3C */
}

.carousel-inner h1 {
	color: white;
	text-shadow: -1px -1px 0 #428bca, 1px -1px 0 #428bca, -1px 1px 0 #428bca, 1px 1px 0 #428bca;
}

.carousel-inner strong {
	color: white;
	text-shadow: -1px -1px 0 #428bca, 1px -1px 0 #428bca, -1px 1px 0 #428bca, 1px 1px 0 #428bca;
	font-size: large;
	font-family: Arial;
}

#mobile-main img {
	margin: 7px;
	width: 40%;
}

#mobile-main {
	background: #428bca;
	font-family: Arial;
	color: #ffffff;
}

#sidebar {
	background: deeppink;
}

footer a {
	color: #DE659B;
    font-size: 12px;
}

footer {
	padding: 10px;
	height: 40px;
	background-color: white;
}

#mobile_nav li {
	margin: auto;
	padding: 10px 0;
	padding-top: 0;
	padding-bottom: 0;
}

#mobile_nav {
	padding: 0;
}

	#mobile_nav ul {
		margin: auto;
		max-width: 315px;
		width: 100%;
	}

		#mobile_nav ul a {
			padding: 10px 17px;
		}

h1 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#headerText {
	margin-bottom: 0;
	padding: 20px;
}

#heading {
	padding: 10px;
	background-image: url(/images/swoosh.png);
	background-position-x: 50%;
	background-position-y: 100%;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	background-repeat: no-repeat;
}

#heading span {
	position: relative;
	font-size: 65px;
	font-weight: bold;
	font-style: normal;
	font-family: 'Xolonium';
}

	#heading span:nth-child(odd) {
		color: #428bca;
	}

	#heading span:nth-child(even) {
		color: #428bca;
	}

#heading .char1 {
	top: 6px;
}

#heading .char2 {
	top: 8px;
}

#heading .char3 {
	top: 3px;
}

#heading .char4 {
	top: 0;
}

#heading .char5 {
	top: -3px;
}

#heading .char6 {
	top: -6px;
}

#heading .char7 {
	top: -9px;
}

#heading .char8 {
	top: -12px;
}

#heading .char9 {
	top: -15px;
}

#heading .char10 {
	top: -18px;
}

#heading .char11 {
	top: -15px;
}

#heading .char12 {
	top: -12px;
}

#heading .char13 {
	top: -9px;
}

#heading .char14 {
	top: -6px;
}

#heading .char15 {
	top: -3px;
}

.admin-modal {
	padding: 20px;
}

#userAccordion .panel-heading {
	padding: 5px;
	height: 25px;
}

#userAccordion .panel-title{
	font-size: 12px;
}


@media (max-width: 768px) {
	#headerText {
		padding: 3px;
	}

	#heading span {
		font-size: 28px;
	}

	h1 {
		margin-top: 10px;
	}
}

@media (min-width: 1200px) {
	
	.row {
		padding: 0;
	}
}