@page
@model PleaseConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>
<div>
    <p>
        An email was sent to your email address.  Click the link to confirm your account.
    </p>
</div>
