@model  FillThePool.Web.ViewModels.ScheduleListViewModel

@{
    ViewBag.Title = "Schedule";
}

@section styles{
	<style>
        .container {

            padding:0;
        }
        .row {
            padding: 0;
        }

	</style>
}

@section scripts{
	<script>
		$(function () {
			var ViewModel = function () {
				this.schedules = ko.observableArray(@Html.Raw(Model.SchedulesJson));
				this.registrations = ko.observableArray(@Html.Raw(Model.RegistrationsJson));
				this.students = ko.observableArray(@Html.Raw(Model.StudentsJson));

				@if (Model.CanDelete)
				{	
<text>
				this.currentSchedule = {};
				this.selectedStudent = ko.observable();
				this.errorMessage = ko.observable();
				this.showError = function(error){
					$("#error-container").fadeIn();
				};
				this.requestDelConfirm = function(schedule){
					vm.currentSchedule = schedule;
					$("#del-confirm").modal();
				};

				this.del = function(){
					var schedule = ko.toJS(vm.currentSchedule);
					scheduleDataService.del(schedule).done(function(response){
						vm.schedule.remove(function(item){
							return item.id === schedule.id;
						});
					}).fail(function(error){
						vm.showError(error);
					}).always(function(error){
						$("#del-confirm").modal('hide');
					});
				};
</text>					
				}
				
			};
			var vm = new ViewModel();

			ko.applyBindings(vm);
		});
	</script>
}

<h1>Schedule</h1>

@if(Model.CanDelete)
{
	<div id="error-container" class="none">
		<div class="alert alert-danger">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<h4>Oops..</h4>
			<p>Something went wrong. Here's the error message:</p>
			<p data-bind="text: errorMessage"></p>
		</div>
	</div>	
}

<div id="list-container">
	<div data-bind="template: {name: 'list-template', foreach: schedules}"></div>
</div>

<script type="text/html" id="list-template">
	<div class="row">
		<div class="col-md-1">
			@if (Model.CanDelete)
			{
				<a href="#" class="btn btn-danger" data-bind="click: $parent.requestDelConfirm">&times;</a>
			}
		</div>
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="col-md-3">
					<span class="time" data-bind="text: moment(start).format('h:mm a')"></span> - <span class="time" data-bind="text: moment(end).format('h:mm a')"></span>
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<select data-bind="options: students"></select>
		</div>
	</div>
</script>

@if (Model.CanDelete)
{
	<div id="del-confirm" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="del-confirm-label" aria-hidden="true" >
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3 id="del-confirm-label">Confirm Delete</h3>
		</div>
		<div class="modal-body">
			<p>Are you sure you want to delete this schedule?</p>
			<p class="alert alert-danger push-down"><strong>Note:</strong>There is no undo for this action.  Any user already registered will be alerted and refunded</p>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			<button class="btn btn-primary" data-bind="click: del">Delete Schedule</button>
		</div>
	</div>
}

