@{
	Layout = "/Pages/Shared/_Layout.cshtml";
}


<h1 class="d-print-none">Manage Stansbury Swim</h1>

<div class="d-print-none">
	<h4>Configure the site</h4>
	<hr />
	<div class="row">
		<div class="col-md-3">
			<partial name="_AdminNav" />
		</div>
		<div class="col-md-9">
			@RenderBody()
		</div>
	</div>
</div>

@section Scripts {
	@RenderSection("Scripts", required: false)
}

@section Print {
	@RenderSection("Print", false)
}