<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://fillthepool.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-bay-003.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>fillthepool</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$fillthepool</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:a40iky0c9q.database.windows.net,1433;Initial Catalog=filltheARgRKrzCR;User ID=fillthepool@a40iky0c9q;Password=M0nk3ysh1t" Name="Data Source=tcp:a40iky0c9q.database.windows.net,1433;Initial Catalog=filltheARgRKrzCR;User Id=fillthepool@a40iky0c9q;Password=M0nk3ysh1t;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="FillThePool.Data.DataContext, FillThePool.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="FillThePoolDev" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.\sqlexpress;Initial Catalog=FillThePoolDev;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\FillThePoolDev_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.\sqlexpress;Initial Catalog=FillThePoolDev;Integrated Security=SSPI;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="FillThePoolProd" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:a40iky0c9q.database.windows.net,1433;Initial Catalog=filltheARgRKrzCR;User ID=fillthepool@a40iky0c9q;Password=M0nk3ysh1t" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\FillThePoolProd_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=tcp:a40iky0c9q.database.windows.net,1433;Initial Catalog=filltheARgRKrzCR;User Id=fillthepool@a40iky0c9q;Password=M0nk3ysh1t;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ErrorLogProd" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:a40iky0c9q.database.windows.net,1433;Initial Catalog=ErrorLog;User ID=fillthepool@a40iky0c9q;Password=M0nk3ysh1t" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ErrorLogProd_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=tcp:a40iky0c9q.database.windows.net,1433;Initial Catalog=ErrorLog;User Id=fillthepool@a40iky0c9q;Password=M0nk3ysh1t;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ErrorLogDEV" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.\sqlexpress;Initial Catalog=ErrorLog;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ErrorLogDEV_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.\sqlexpress;Initial Catalog=ErrorLog;Integrated Security=SSPI;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="filltheARgRKrzCREntities1" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=a40iky0c9q.database.windows.net;Initial Catalog=filltheARgRKrzCR;Persist Security Info=True;User ID=fillthepool;Password=M0nk3ysh1t;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\filltheARgRKrzCREntities1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/FillThePool.Web.Admin.Model1.csdl|res://*/FillThePool.Web.Admin.Model1.ssdl|res://*/FillThePool.Web.Admin.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=a40iky0c9q.database.windows.net;initial catalog=filltheARgRKrzCR;persist security info=True;user id=fillthepool;password=M0nk3ysh1t;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:a40iky0c9q.database.windows.net,1433;Initial Catalog=filltheARgRKrzCR;User Id=fillthepool@a40iky0c9q;Password=M0nk3ysh1t;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ErrorLogDEV-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ErrorLogProd-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)filltheARgRKrzCREntities1-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FillThePoolDev-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FillThePoolProd-Web.config Connection String" />
  </ItemGroup>
</Project>